
html, body {
    height:100%;
    width: 100%;
}

body {
    background-color: rgb(232, 238, 238);
    color:black;
    margin: 0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#navigation {
    border: 5px ridge rgb(127, 186, 226);
    display: flex;
    padding: 5px;
    padding: 3px;
    align-items: center;
    justify-content: space-evenly;
    width: 100%
 }

#name {
background-color: rgb(52, 53, 56);
color:whitesmoke;
width: 100%;
height: 40px;
margin: 0;
border-top: 15px solid rgb(52, 53, 56); 
border-left: 5px solid rgb(127, 186, 226);
border-right: 5px solid rgb(127, 186, 226);
border-bottom: 5px solid rgb(127, 186, 226);
text-align: left;
font-size: medium;
background-color: rgb(52, 53, 56);
color:whitesmoke;
width: 100%;
height: 40px;
margin: 0 auto;
padding-left: 5px;
border-top: 15px solid rgb(52, 53, 56); 
border-left: 5px solid rgb(127, 186, 226);
border-right: 5px solid rgb(127, 186, 226);
border-bottom: 5px solid rgb(127, 186, 226);
text-align: left;
font-size: medium;
}

#container-exp { 
    /*display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;*/

     /*font-size: medium;
    /margin: auto;
    /border:  5px ridge rgb(127, 186, 226);*/

    display: grid;
    grid-template-rows: 50px 50px 50px;
    grid-template-columns: 250px 300px 500px;
    grid-gap: 10px;
    font-weight:200;
    background-color:rgb(215, 222, 228);

    a:link {
        color:rgb(7, 98, 200);
        text-decoration: none;
    }
    a:focus,
    a:hover {
        color:white;
    }
}


/*.container experience { 
#date1, #date2, #date3 
}*/

#skills-section {
    margin-top: 50px;
}

#connect-footer {
    margin-top: 100px;
    text-align:center;
    color:rgb(127, 186, 226);
    font-weight: 500;
}

#container-connect {
    
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    font-size: medium;
    margin: auto;
    color: whitesmoke;  
    border:  5px ridge rgb(127, 186, 226);
    justify-content:space-around;    
    background-color:rgb(215, 222, 228);
}

.fa-linkedin {
    color: rgb(7,98,200);    
}

.fa-envelope {
    color:black;
}
  

.fa-square-github {
    color:navy;
}

i:focus,
i:hover {
    color:whitesmoke;
}

/*mobile device*/
@media (max-width: 300px) {
    body{
        font-size:small;
    }
    #name {
        background-color:rgb(215, 222, 228);
        border-top: 15px solid rgb(215, 222, 228); 
        color: black;
    }

    img {
        height: 75px;
        width: 75px;
    }
    
    nav {
        color:whitesmoke;
        background-color: rgb(52, 53, 56);
    }

    #container-exp {
        background-color: rgb(52, 53, 56);

    }
}

/*tablet*/
@media (max-width: 500px) and (max-height:700px) {
    img {
        height: 100px;
        width: 100px;
    }
    #name {
        background-color:rgb(92, 95, 97);
        border-top: 15px solid rgb(215, 222, 228); 
        color: black;
    }
    #container-connect {
        background-color:rgb(52, 53, 56);
        align-items: left;

    }

}






